# Node modules (meglio installarli nel container)
node_modules

# Logs & temp
*.log
temp/
*.tmp

# VCS / metadata
.git
.gitignore
Dockerfile*
docker-compose.yml

# Editor
.vscode
.idea
.DS_Store

# Local build dirs
dist/
build/