# Node
node_modules/
npm-debug.log*
yarn-error.log

# Build
dist/
build/
temp/

# Env
# .env
#.env.*

# Editor
.vscode/
.idea/
*.swp

# Logs
*.log

# OS / Misc
.DS_Store
Thumbs.db
.MACOSX

# Docker
*.pid

# non tracciare mai i certificati reali
proxy/certs/*.pem
# ma salva il placeholder per tenere la cartella nel repo
!proxy/certs/.gitkeep


docker/volumes/mongodb/*
!docker/volumes/mongodb/.gitkeep

docker/volumes/logs/*
!docker/volumes/logs/.gitkeep

# non cancellatela pls
Icon?